:javascript
  start_map();

#map-canvas.map.maplg

.col-md-12
  %h1 All transactions

.col-md-6
  - @parkings.each do |parking|
    %p
      %h5
      = link_to "#{parking.created_at.to_s(:short)}", parking_path(parking)
      %br/
      From 
      = parking.start
      to 
      = parking.end
      %br/
      Amount: 
      = parking.amount
